<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
@model TodoViewModel
<div>
    <div>
        <table>
            <thred>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                </tr>
            </thred>
            <tbody>
                @foreach (var t in Model.TodoList)
                {
                    <tr>
                        <td class="todos-column" scope="row">@t.Id</td>
                        <td class="todos-column">@t.Name</td>
                        <td class="buttons-column">
                            <input type="submit" value="Delete" onclick="deleteTodo(@t.Id)">
                            <input type="submit" value="Update" onclick="populateForm(@t.Id)">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>